---
layout: page
title: Portfolio
---

{% for category in site.data.projects %}
<div class="clearfix"></div>
<section>
	<h1>{{ category.name }}</h1>
	{% for p in category.projects %}
		{% assign mod = forloop.index0 | modulo:3 %}
		{% if mod == 0 %}<div class ="row">{% endif %}
			<div class="col-md-4 col-sm-6">
				<a href="{{ p.path }}"><img src="{{ p.image }}" class="fullwidth" /></a>
				<h2 class="projecttitle"><a href="{{ p.path }}">{{ p.title }}</a></h2>
			</div>
		{% assign lastInRow = false %}
		{% if mod == 2 %} {% assign lastInRow = true %} {% endif %}
		{% if forloop.last %} {% assign lastInRow = true %}{% endif %}
		{% if lastInRow %}</div>{% endif %}
	{% endfor %}
</section>
{% endfor %}